
paleotopo_grids/*

paleotopo_grids_tests/*

paleotopo_grids_netcdf4/*

tween_feature_collections/*

tween_feature_collections_gpml/*

.ipynb_checkpoints/paleotopography-anisotropic-diffusion-checkpoint.ipynb

.ipynb_checkpoints/tween-paleoshorelines-inplace-checkpoint.ipynb

.ipynb_checkpoints/watershed-checkpoint.ipynb

.ipynb_checkpoints/watershed-Copy1-checkpoint.ipynb

watershed-Copy1.ipynb

tmp/*

.ipynb_checkpoints/tweened-paleotopography-clean-checkpoint.ipynb

.ipynb_checkpoints/Untitled-checkpoint.ipynb

paleotopo_grids.zip

.ipynb_checkpoints/paleotopography-checkpoint.py

.ipynb_checkpoints/make_present_day_environments-checkpoint.ipynb

.ipynb_checkpoints/paleotopography_validation-checkpoint.ipynb

.ipynb_checkpoints/pt_validation-checkpoint.py

.ipynb_checkpoints/untitled-checkpoint.txt
.ipynb_checkpoints/file_reformat-checkpoint.ipynb
dev/.ipynb_checkpoints/paleo_hypsometry-checkpoint.ipynb
dev/.ipynb_checkpoints/paleotopography_validation-checkpoint.ipynb
dev/contour_
dev/contour_C.txt
dev/contour_O.txt
dev/.ipynb_checkpoints/pt_validation-checkpoint.py
